Source: shinkenplugins
Maintainer: Alexandre Viau <alexandre@alexandreviau.net>
Homepage: https://github.com/savoirfairelinux/monitoring-tools
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/shinkenplugins.git
Vcs-Git: git://anonscm.debian.org/collab-maint/shinkenplugins.git
Section: python
X-Python-Version: >= 2.7
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 9),
               python-nose
Standards-Version: 3.9.6

Package: python-shinkenplugins
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Shinken plugins wrapper library
 Library aimed to provide helpers around the creation of Shinken
 plugins, and in particular their inputs and outputs. Less code,
 less code duplication, less headache.
